* {
    box-sizing: border-box;
}

.league-spartan {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.vertical-line {
    width: 0px; 
    border-left: 3px solid #868686; 
    height: 100%; 
}

  

.home{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 15% 85%;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.banner .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.banner .logo img {
    object-fit: cover;
    height: auto;
    max-width: 100%;
}

.content{
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.content .left-col, .right-col {
    background-color: #303030;
}

.content .mid-col{
    background-color: #1c1b1b;
    
}

.content .mid-col 


  .main-body{
    display:flex;
    width: 100%;
    height: calc(100% - 44px);
  }

  .articles{
    width: 70%;
    height: 100%;
    
  }

  .news{
    width: 30%;
    height:100%;
  }

.nav-button{
  margin-top: 2;
  margin-bottom: 2;
  display: block;
}